[submodule "claudekit-engineer"]
	path = claudekit-engineer
	url = https://github.com/claudekit/claudekit-engineer.git
	branch = main
[submodule "claudekit-marketing"]
	path = claudekit-marketing
	url = https://github.com/claudekit/claudekit-marketing.git
	branch = main
[submodule "skills/ui-ux-pro-max-skill"]
	path = skills/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
	branch = main
